.slarn-autocomplete-container{
    border: solid 1px #cacaca;
}

.slarn-autocomplete-container .toggle-suggestions-display {
    border-left: solid 1px #cacaca;
    border-bottom: none;
    border-right: none;
    border-top: none;
}